@import 'reset_homework';


body {
    background: #270e0e;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: #270e0e;

    .header-content {
        background: #e3d4c8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }


    .icon {
        display: flex;
        width: 200px;
        justify-content: space-around;
        align-items: center;
        margin-left: 80%;
        margin-top: 10px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: 'Dancing Script', cursive;

        ul {
            list-style-type: none;
            display: flex;
            width: 1000px;
            justify-content: space-around;
            align-content: center;
            font-size: 17px;
        }

        li {
            margin-left: 10px;
            font-weight: 500;
            text-align: center;

            :first-child {
                margin-left: 0;
            }

            :hover {
                color: rgb(72, 44, 196);
            }
        }

        .en {
            text-transform: uppercase;
        }
    }
}

.down {
    height: 210px;
}

.slider {
    width: 100%;
    height: 400px;
    position: relative;
    margin: auto;

    .item>div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 700;
        font-family: 'Courier New', Courier, monospace;
        height: 400px;
        background: #270e0e;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: 0.4s;

        &.active {
            opacity: 1;
        }
    }

    .circle {
        position: absolute;
        bottom: 5px;
        z-index: 2;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        >span {
            width: 16px;
            height: 16px;
            border-radius: 16px;
            background: #fff;
            margin-right: 10px;
            cursor: pointer;

            >:last-child {
                margin-right: 0;
            }

            &.active {
                background: rgb(77, 32, 6);
            }
        }
    }
}

.about {
    color: #fff;
    background: #000;
    background-size: cover;
    position: relative;
    z-index: 1;

    .about-content {
        display: flex;
        align-items: center;
        min-height: 400px;
        position: relative;
        z-index: 2;

        .wrap {
            background-color: #db9b67;
            display: flex;
            width: 100%;
            height: 400px;

            .slogan {
                font-size: 100px;
                text-align: center;
                justify-content: center;
                margin-top: 130px;
                position: relative;

            }

            >div {
                width: 50%;
                padding: 20px;
                position: relative;

                &:first-child::before {
                    content: '';
                    border-right: 3px dashed #fff;
                    position: absolute;
                    right: 0;
                    top: 20px;
                    height: calc(100% - 40px);
                    // -號要空格
                }
            }

        }
    }

    .about-form-text {
        font-size: 14px;
        line-height: 30px;
        text-align: justify;
    }
}

.clearfix {
    width: 100%;
    background-color: #e7b96e;
    padding: 30px;

    .block {
        width: 60%;
        height: 100%;
        margin: auto;
    }

    .word {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
}

.footer {
    background: #e3d4c8;
    padding: 50px 0;
    text-align: center;

    .foot {
        padding: 5px;
    }
}

.sale {
    width: 100%;

    .product-block {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        background-color: #270e0e;
        justify-content: center;
        align-items: center;
    }

    .product {
        width: 300px;
        min-height: 200px;
        background: #db9b67;
        padding: 15px;
        margin: 0 15px;
        margin-bottom: 30px;

        .product-image {
            width: 100%;
            height: 200px;
            background: #db9b67;
            color: #db9b67;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;

            .product-image-wrap-a {
                background-position: center;
                background-image: url(../images/homework/original-large-menu.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: 2s;
            }

            .product-image-wrap-b {
                background-position: center;
                background-image: url(../images/homework/original-small-menu.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: 2s;
            }

            .product-image-wrap-c {
                background-position: center;
                background-image: url(../images/homework/chocolate-large-menu.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: 2s;
            }

            .product-image-wrap-d {
                background-position: center;
                background-image: url(../images/homework/chocolate-small-menu.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: 2s;
            }

            .product-image-wrap-e {
                background-position: center;
                background-image: url(../images/homework/mixberry-large-menu.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: 2s;
            }

            .product-image-wrap-f {
                background-position: center;
                background-image: url(../images/homework/mixberry-small-menu.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: 2s;
            }

            .product-image-wrap-g {
                background-position: center;
                background-image: url(../images/homework/df-large-menu.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: 2s;
            }

            .product-image-wrap-h {
                background-position: center;
                background-image: url(../images/homework/df-small-menu.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: 2s;
            }
        }

        &:hover {
            .product-image-wrap-a {
                transform: scale(1.5);
            }

            .product-image-wrap-b {
                transform: scale(1.5);
            }

            .product-image-wrap-c {
                transform: scale(1.5);
            }

            .product-image-wrap-d {
                transform: scale(1.5);
            }

            .product-image-wrap-e {
                transform: scale(1.5);
            }

            .product-image-wrap-f {
                transform: scale(1.5);
            }

            .product-image-wrap-g {
                transform: scale(1.5);
            }

            .product-image-wrap-h {
                transform: scale(1.5);
            }

        }
    }

    .product-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
    }
}

.comment {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db9b67;
    padding: 50px;

    .bbb {
        height: 20px;
    }
}